<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid px-lg-5">
    <div class="navbar-brand bg-dark text-light px-3">J-NEWS</div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex" action="/search" method="get">
            <input
              name="search"
              id="search"
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              style="width: 420px"
            />
          </form>
        </li>
      </ul>

      <button class="btn btn-light text-primary">Log In</button>
      <button class="btn btn-primary">Create Account</button>
    </div>
  </div>
</nav>
