<section
  class="container col-lg-12 py-5 d-flex align-items-center justify-content-center flex-column"
  style="height: auto; min-height: 100vh"
>
  <h1 class="text-dark">Home</h1>
  <img
    class="image-fluid w-50"
    src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/pv8isb8dw54yc9sw12vf.png"
    alt=""
  />
  {{#each data }}

  <a
    class="card mb-3 col-lg-6"
    id="{{ this.id }}"
    href="{{ this.url }}"
    target="_blank"
  >
    <img
      src="{{ this.social_image }}"
      class="card-img-top"
      alt="{{ this.title }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ this.title }}</h5>
      <p class="card-text">{{ this.description }}</p>
      <p class="card-text">
        <small class="text-muted">{{ this.published_at }}</small>
        <small class="text-muted">{{ this.user.name }}</small>
      </p>
    </div>
  </a>

  {{/each}}
</section>
